/* css styles */
/* Alternance de couleur */

tbody tr:nth-child(odd) {
    background-color: #8dbe90;
  }
  
  tbody tr:nth-child(even) {
    background-color: #a7bfac;
  }
  
  /*tbody tr {
    background-image: url(noise.png);
  }*/
  
  table {
    background-color: #b7cfa6;
  }