/* css styles */
/* Alternance de couleur */

tbody tr:nth-child(odd) {
    background-color: #dfffe1;
  }
  
  tbody tr:nth-child(even) {
    background-color: #90c79a51;
  }
  
  /*tbody tr {
    background-image: url(noise.png);
  }*/
  
  table {
    background-color: #e0e0e0;
  }