/* css styles */
/* Alternance de couleur */


  .table1-style {
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);*/
    cursor: pointer;
    margin: 0px;
    background-color : rgba(255, 255, 255, 0);
    /*border: 2px #2f4834;*/
  }
  thead tr{
    background-color: #8cca9070;
    color: black;
    text-align: center;
  }

  tbody,tr,td,th {
    border: 1px solid rgba(255, 255, 255, 0.879);
    text-align: center;
    vertical-align: middle;
    
  }
  tbody tr:nth-child(odd) {
    background-color: #dfffe14a;
  }
  
  tbody tr:nth-child(even) {
    background-color: #90c79a51;
  }
  
  /*tbody tr {
    background-image: url(noise.png);
  }*/
  
  